body {
  margin: 4%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.items-container {
   display: flex;
}

.item-box {
    width: 25%;
    height: 160px;
    background-color: rgb(225, 235, 232);
    border: 1px solid black;
    margin-right: 4%;
}

.item-box:last-child {
    margin-right: 0;
}

.handle-product-div {
    display: flex;
    flex-flow: row-reverse;
}

